body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 3px solid #444;
  font-size: 50px;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 2px solid #444;
}

.square {
  border: 1px solid #999;
  background: #fff;

  text-align: center;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
}

.square.selected {
  background: #6DD288;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
