@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 3px solid #444;
  font-size: 50px;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 2px solid #444;
}

.cell {
  border: 1px solid #999;
  text-align: center;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
}

.cell.selected {
  background: #6DD288;
}

.cell.variable {
  color: #2832c2;
}

.cell.incorrect {
  color: #f00;
}

.cell.disable-pencil-marks .pencil-marks {
  display: none;
}

.cell .pencil-marks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "top-l    top-c    top-r"
    "central  central  central"
    "bottom-l bottom-c bottom-r";
  font-size: 0.3em;
  text-align: center;
  width: 100%;
  height: 100%;
}

.cell .pencil-marks .top-l {
  grid-area: top-l;
}

.cell .pencil-marks .top-c {
  grid-area: top-c;
}

.cell .pencil-marks .top-r {
  grid-area: top-r;
}

.cell .pencil-marks .bottom-l {
  grid-area: bottom-l;
}

.cell .pencil-marks .bottom-c {
  grid-area: bottom-c;
}

.cell .pencil-marks .bottom-r {
  grid-area: bottom-r;
}

.cell .pencil-marks .central {
  grid-area: central;
}

.game {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.panel {
  margin-left: 20px;
}

.panel button {
  @extend .btn;
  @extend .btn-outline-dark;
  font: 35px "Century Gothic", Futura, sans-serif;
  margin: 5px;
}

.panel button.selected {
  @extend .btn-dark;
}

.panel .mode {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
}

.panel .mode .sample {
  width: 1em;
  height: 1em;
}

.panel .actions textarea {
  display: none;
}

.panel .actions button {
  width: 100%;
}

.color0 {
  background-color: #7ad;
}

.color1 {
  background-color: #9df;
}

.color2 {
  background-color: #4b9;
}

.color3 {
  background-color: #bc3;
}

.color4 {
  background-color: #aa0;
}

.color5 {
  background-color: #ed8;
}

.color6 {
  background-color: #e86;
}

.color7 {
  background-color: #fab;
}

.color8 {
  background-color: #ddd;
}
